header.theme-dark { background-color: var(--red-500);}
figure { width: 100%;
         height: 100%;
}

.section-selector-2 { background-color: var(--lime-300) }

nav.theme-light,
nav.theme-light ul.links-wrapper.active { background-color: var(--red-600) }
nav.theme-light,
nav.theme-light ul.links-wrapper.active { background-color: var(--red-600) }
nav.theme-light,
nav.theme-light ul.links-wrapper.active { background-color: var(--red-500) }
nav.theme-light,
nav.theme-light ul.links-wrapper.active { background-color: var(--red-500) }

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }

   .svg-frame {
    position: relative;
    width: 600px;
    height: 600px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .svg-frame svg {
    position: absolute;
    transition: .5s;
    z-index: calc(1 - (0.2 * var(--j)));
    transform-origin: center;
    width: 344px;
    height: 344px;
    fill: none;
  }
  
  .svg-frame:hover svg {
    transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i))) translateY(calc(-35px * var(--i)));
  }
  
  .svg-frame svg #center {
    transition: .5s;
    transform-origin: center;
  }
  
  .svg-frame:hover svg #center {
    transform: rotate(-30deg) translateX(45px) translateY(-3px);
  }
  
  #out2 {
    animation: rotate16 7s ease-in-out infinite alternate;
    transform-origin: center;
  }
  
  #out3 {
    animation: rotate16 3s ease-in-out infinite alternate;
    transform-origin: center;
    stroke: #ff0;
  }
  
  #inner3,
  #inner1 {
    animation: rotate16 4s ease-in-out infinite alternate;
    transform-origin: center;
  }
  
  #center1 {
    fill: #ff0;
    animation: rotate16 2s ease-in-out infinite alternate;
    transform-origin: center;
  }
  
  @keyframes rotate16 {
    to {
      transform: rotate(360deg);
    }
  }

  .section-selector-1 { background-color: var(--trend-700) }
  .section-selector-1 .col-text p { color: var(--slate-050) }
  .section-selector-1 h2 { color: var(--slate-050) }
  .section-selector-1 .container-btn a.btn:nth-child(1):link,
  .section-selector-1 .container-btn a.btn:nth-child(1):visited { color: var(--white-000) }
  
  .section-selector-1 .container-btn a.btn:nth-child(1):link,
  .section-selector-1 .container-btn a.btn:nth-child(1):visited { border-color: var(--slate-050) }
  
  .section-selector-1 .container-btn a.btn:nth-child(1):focus,
  .section-selector-1 .container-btn a.btn:nth-child(1):hover,
  .section-selector-1 .container-btn a.btn:nth-child(1):active .container-btn { border-color: var(--black-000) }
  
  .section-selector-1 .container-btn a.btn:nth-child(1):focus,
  .section-selector-1 .container-btn a.btn:nth-child(1):hover,
  .section-selector-1 .container-btn a.btn:nth-child(1):active { color: var(--black-000) }
  
  .section-selector-1 .container-btn a.btn:nth-child(1):focus,
  .section-selector-1 .container-btn a.btn:nth-child(1):hover,
  .section-selector-1 .container-btn a.btn:nth-child(1):active .container-btn { border-color: var(--lime-200) }
  
  .section-selector-1 .container-btn a.btn:nth-child(1):focus,
  .section-selector-1 .container-btn a.btn:nth-child(1):hover,
  .section-selector-1 .container-btn a.btn:nth-child(1):active { background-color: var(--lime-500) }
  
  .section-selector-1 .container-btn a.btn:nth-child(1):focus,
  .section-selector-1 .container-btn a.btn:nth-child(1):hover,
  .section-selector-1 .container-btn a.btn:nth-child(1):active .container-btn { border-color: var(--black-000) }
  
  
  